In [169]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
yearlist = [str(x) for x in range(2000,2021)]
monthlist = [str(x) for x in range(1,13)]
monthlist = ['0' + x if len(x) < 2 else x for x in monthlist]
print(yearlist)
print(monthlist)

['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

In [170]:
import os
baseda = 'Dayahead/{}'
basert = 'Realtime/{}'
dafilelist = []
rtfilelist = []
for year in yearlist:
    for month in monthlist:
        ym = year + month
        da = baseda.format(ym)
        rt = basert.format(ym)
        if os.path.exists(da):
            for f in os.listdir(da):
                dafilelist.append(f)
            for f in os.listdir(rt):
                rtfilelist.append(f)

In [171]:
dafilelist = sorted(dafilelist)
rtfilelist = sorted(rtfilelist)

In [172]:
dadays = [x[0:8] for x in dafilelist]
rtdays = [x[0:8] for x in rtfilelist]

In [173]:
notindays = []
for day in dadays:
    if day not in rtdays:
        notindays.append(day)

In [174]:
for day in rtdays:
    if day not in dadays:
        print(day)

In [175]:
notindays

['20110301', '20110302', '20201015']

In [26]:
7594 + 16 + 30 + 31

7671

In [28]:
7670 / 365

21.013698630136986

In [32]:
365 * 21 + 6

7671

In [31]:
'20200229' in dadays

True

In [176]:
adjust_dafilelist = []
for x in dafilelist:
    isin = False
    for y in notindays:
        if y in x:
            print(x)
            isin = True
            break
    if not isin:
        adjust_dafilelist.append(x)

20110301damlbmp_zone.csv
20110302damlbmp_zone.csv
20201015damlbmp_zone.csv

In [177]:
import pickle
def savefile(path, obj):
    with open(path,'wb') as f:
        pickle.dump(obj, f)
def loadfile(path):
    with open(path, 'rb') as f:
        return pickle.load(f)

In [45]:
savefile('Database/adjust_dafilelist.pkl', adjust_dafilelist)
savefile('Database/dafilelist.pkl', dafilelist)
savefile('Database/rtfilelist.pkl', rtfilelist)

In [43]:
len(adjust_dafilelist)

7591

In [50]:
len(loadfile('Database/adjust_dafilelist.pkl'))

7591

In [178]:
def fulldapath(f):
    return 'Dayahead/{}/'.format(f[0:6]) + f
def fullrtpath(f):
    return 'Realtime/{}/'.format(f[0:6]) + f

In [179]:
df = pd.read_csv(fullrtpath(rtfilelist[0]))

In [180]:
df['Time Stamp'] = pd.to_datetime(df['Time Stamp'])

In [181]:
name = df['Name'].unique().tolist()

In [182]:
name

['CAPITL',
 'CENTRL',
 'DUNWOD',
 'GENESE',
 'H Q',
 'HUD VL',
 'LONGIL',
 'MHK VL',
 'MILLWD',
 'N.Y.C.',
 'NORTH',
 'NPX',
 'O H',
 'PJM',
 'WEST']

In [183]:
for f in rtfilelist:
    df = pd.read_csv(fullrtpath(f))
    tn = df['Name'].unique()
    for item in tn:
        if item not in name:
            print(f, item)
    for item in name:
        if item not in tn:
            print(f, item)

In [184]:
for f in dafilelist:
    df = pd.read_csv(fulldapath(f))
    tn = df['Name'].unique()
    for item in tn:
        if item not in name:
            print(f, item)
    for item in name:
        if item not in tn:
            print(f, item)

In [185]:
df = pd.read_csv(fulldapath(dafilelist[0]))
df['Time Stamp'] = pd.to_datetime(df['Time Stamp'])

In [186]:
df

,Time Stamp,Name,PTID,LBMP ($/MWHr),Marginal Cost Losses ($/MWHr),Marginal Cost Congestion ($/MWH
0,2000-01-01 00:00:00,CAPITL,61757,42.88,2.37,0.0
1,2000-01-01 00:00:00,CENTRL,61754,39.49,-1.02,0.0
2,2000-01-01 00:00:00,DUNWOD,61760,43.70,3.19,0.0
3,2000-01-01 00:00:00,GENESE,61753,38.98,-1.53,0.0
4,2000-01-01 00:00:00,H Q,61844,39.98,-0.53,0.0
...,...,...,...,...,...,...
355,2000-01-01 23:00:00,NORTH,61755,38.25,-0.46,0.0
356,2000-01-01 23:00:00,NPX,61845,40.17,1.46,0.0
357,2000-01-01 23:00:00,O H,61846,36.01,-2.70,0.0
358,2000-01-01 23:00:00,PJM,61847,36.81,-1.90,0.0
359,2000-01-01 23:00:00,WEST,61752,35.82,-2.89,0.0

In [189]:
dftest = pd.pivot_table(df, index = ['Time Stamp'], columns = ['Name'], values = ['LBMP ($/MWHr)'], aggfunc = [np.mean]).resample('1H',closed = 'left').mean()

In [190]:
dftest.index

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:00:00',
               '2000-01-01 02:00:00', '2000-01-01 03:00:00',
               '2000-01-01 04:00:00', '2000-01-01 05:00:00',
               '2000-01-01 06:00:00', '2000-01-01 07:00:00',
               '2000-01-01 08:00:00', '2000-01-01 09:00:00',
               '2000-01-01 10:00:00', '2000-01-01 11:00:00',
               '2000-01-01 12:00:00', '2000-01-01 13:00:00',
               '2000-01-01 14:00:00', '2000-01-01 15:00:00',
               '2000-01-01 16:00:00', '2000-01-01 17:00:00',
               '2000-01-01 18:00:00', '2000-01-01 19:00:00',
               '2000-01-01 20:00:00', '2000-01-01 21:00:00',
               '2000-01-01 22:00:00', '2000-01-01 23:00:00'],
              dtype='datetime64[ns]', name='Time Stamp', freq='H')

In [191]:
dftest

                             mean                                            \
                    LBMP ($/MWHr)
Name                       CAPITL CENTRL DUNWOD GENESE    H Q HUD VL LONGIL
Time Stamp
2000-01-01 00:00:00         42.88  39.49  43.70  38.98  39.98  42.92  43.72
2000-01-01 01:00:00         41.55  38.26  42.34  37.77  38.74  41.58  42.35
2000-01-01 02:00:00         40.98  37.74  41.76  37.25  38.20  41.01  40.88
2000-01-01 03:00:00         36.59  33.69  37.28  33.26  34.11  36.62  37.90
2000-01-01 04:00:00         42.88  39.49  43.70  38.98  39.98  42.92  41.00
2000-01-01 05:00:00         39.87  36.72  40.63  36.24  37.17  39.90  40.99
2000-01-01 06:00:00         37.82  34.83  38.55  34.39  35.26  37.86  39.18
2000-01-01 07:00:00         33.34  30.70  33.97  30.31  31.08  33.36  34.53
2000-01-01 08:00:00         21.64  19.94  16.14  19.68  20.18  19.98  33.64
2000-01-01 09:00:00         26.97  24.84  23.67  24.52  25.14  25.91  35.14
2000-01-01 10:00:00         31.02  28.57  29.41  28.20  28.92  30.42  36.30
2000-01-01 11:00:00         31.02  28.57  29.41  28.20  28.92  30.42  36.30
2000-01-01 12:00:00         31.02  28.57  29.41  28.20  28.92  30.42  36.30
2000-01-01 13:00:00         28.99  26.71  26.55  26.36  27.04  28.17  35.73
2000-01-01 14:00:00         27.63  25.45  24.42  25.13  25.76  26.59  35.71
2000-01-01 15:00:00         28.33  26.10  25.51  25.76  26.41  27.40  35.72
2000-01-01 16:00:00         38.24  35.21  38.97  34.76  35.65  38.27  39.61
2000-01-01 17:00:00         43.86  40.39  44.69  39.87  40.89  43.89  45.43
2000-01-01 18:00:00         44.82  41.27  45.68  40.74  41.79  44.86  46.43
2000-01-01 19:00:00         43.39  39.96  44.22  39.44  40.45  43.43  44.95
2000-01-01 20:00:00         42.88  39.49  43.70  38.98  39.98  42.92  44.42
2000-01-01 21:00:00         38.24  35.21  38.97  34.76  35.65  38.27  42.24
2000-01-01 22:00:00         38.24  35.21  38.97  34.76  35.65  38.27  39.74
2000-01-01 23:00:00         40.98  37.74  41.76  37.25  38.20  41.01  42.45



Name                MHK VL MILLWD N.Y.C.  NORTH    NPX    O H    PJM   WEST
Time Stamp
2000-01-01 00:00:00  41.15  43.08  44.52  40.03  42.04  37.68  38.52  37.49
2000-01-01 01:00:00  39.86  41.74  43.40  38.79  40.73  36.51  37.32  36.32
2000-01-01 02:00:00  39.32  41.17  43.18  38.25  40.17  36.01  36.81  35.82
2000-01-01 03:00:00  35.10  36.75  40.83  34.15  35.86  32.15  32.86  31.98
2000-01-01 04:00:00  41.15  43.08  44.52  40.03  42.04  37.68  38.52  37.49
2000-01-01 05:00:00  38.25  40.05  41.39  37.21  39.08  35.03  35.81  34.85
2000-01-01 06:00:00  36.29  37.99  40.23  35.31  37.08  33.23  33.98  33.06
2000-01-01 07:00:00  31.98  33.48  37.83  31.12  32.68  29.29  29.95  29.14
2000-01-01 08:00:00  20.76  16.87  37.07  20.21  21.21  19.02  19.44  18.92
2000-01-01 09:00:00  25.87  23.95  39.67  25.18  26.43  23.69  24.22  23.57
2000-01-01 10:00:00  29.76  29.35  39.72  28.96  30.40  27.26  27.86  27.12
2000-01-01 11:00:00  29.76  29.35  39.72  28.96  30.40  27.26  27.86  27.12
2000-01-01 12:00:00  29.76  29.35  39.72  28.96  30.40  27.26  27.86  27.12
2000-01-01 13:00:00  27.82  26.66  39.70  27.07  28.42  25.48  26.05  25.35
2000-01-01 14:00:00  26.51  24.67  39.88  25.79  27.08  24.28  24.82  24.16
2000-01-01 15:00:00  27.18  25.69  39.78  26.45  27.77  24.89  25.45  24.77
2000-01-01 16:00:00  36.69  38.41  40.40  35.69  37.48  33.60  34.35  33.42
2000-01-01 17:00:00  42.08  44.05  45.89  40.94  42.99  38.54  39.39  38.34
2000-01-01 18:00:00  43.00  45.02  46.54  41.83  43.93  39.38  40.26  39.18
2000-01-01 19:00:00  41.63  43.59  46.58  40.50  42.53  38.13  38.98  37.93
2000-01-01 20:00:00  41.15  43.08  46.39  40.03  42.04  37.68  38.52  37.49
2000-01-01 21:00:00  36.69  38.41  45.32  35.69  37.48  33.60  34.35  33.42
2000-01-01 22:00:00  36.69  38.41  45.97  35.69  37.48  33.60  34.35  33.42
2000-01-01 23:00:00  39.32  41.17  45.66  38.25  40.17  36.01  36.81  35.82

In [192]:
finalrtdf = pd.DataFrame(columns = dftest.columns)

In [193]:
for i, f in enumerate(rtfilelist):
    df = pd.read_csv(fullrtpath(f))
    df['Time Stamp'] = pd.to_datetime(df['Time Stamp'])
    df = dftest = pd.pivot_table(df, index = ['Time Stamp'], columns = ['Name'], values = ['LBMP ($/MWHr)'], aggfunc = [np.mean]).resample('1H', closed = 'left').mean().iloc[0:24]
    finalrtdf = finalrtdf.append(df)
    if i % 100 == 0:
        print(i)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500

In [194]:
finalrtdf.shape

(182174, 15)

In [195]:
finalrtdf.memory_usage().sum() / (1024**3)

0.021716833114624023

In [196]:
finalrtdf

                             mean                                              \
                    LBMP ($/MWHr)
Name                       CAPITL     CENTRL     DUNWOD     GENESE        H Q
2000-01-01 00:00:00     40.742500  36.286875  38.730625  36.628750  37.704375
2000-01-01 01:00:00     32.701429  29.067857  31.080714  29.297143  30.210714
2000-01-01 02:00:00     23.450000  20.800000  22.306429  20.917143  21.633571
2000-01-01 03:00:00     16.390714  14.585000  15.651429  14.604286  15.126429
2000-01-01 04:00:00     14.822500  13.243125  14.153750  13.285625  13.728750
...                           ...        ...        ...        ...        ...
2020-10-14 09:00:00     17.565833  16.845000  17.814167  16.848333  15.918333
2020-10-14 10:00:00     15.362500  14.672500  15.709167  14.587500  13.992500
2020-10-14 11:00:00     17.028333  16.356667  17.458333  16.633333  15.438333
2020-10-14 12:00:00     17.320000  16.725000  17.755000  17.065000  13.500000
2020-10-14 13:00:00     15.520000  15.203333  15.880000  15.520000  14.220000

                                                                            \

Name                    HUD VL     LONGIL     MHK VL     MILLWD     N.Y.C.
2000-01-01 00:00:00  38.318125  39.443125  38.011875  38.281875  39.086250
2000-01-01 01:00:00  30.751429  31.670000  30.494286  30.720000  31.367143
2000-01-01 02:00:00  22.054286  25.811429  21.852857  22.043571  22.510000
2000-01-01 03:00:00  15.480000  15.930714  15.299286  15.470000  15.795000
2000-01-01 04:00:00  13.992500  14.424375  13.861875  13.988750  14.294375
...                        ...        ...        ...        ...        ...
2020-10-14 09:00:00  17.665833  17.865833  16.702500  17.762500  17.935833
2020-10-14 10:00:00  15.558333  15.920833  14.682500  15.655000  15.807500
2020-10-14 11:00:00  17.283333  18.756667  16.218333  17.396667  17.571667
2020-10-14 12:00:00  17.560000  18.047500  16.735000  17.680000  17.880000
2020-10-14 13:00:00  15.720000  16.103333  14.770000  15.820000  16.013333



Name                     NORTH        NPX        O H        PJM       WEST
2000-01-01 00:00:00  37.940000  38.914375  34.448125  34.891875  34.165625
2000-01-01 01:00:00  30.389286  31.257857  27.643571  28.014286  27.404286
2000-01-01 02:00:00  21.760000  22.444286  19.837857  20.056429  19.660714
2000-01-01 03:00:00  15.213571  15.719286  13.920714  14.085714  13.792143
2000-01-01 04:00:00  13.808125  14.217500  12.757500  12.805625  12.654375
...                        ...        ...        ...        ...        ...
2020-10-14 09:00:00  15.945833  17.416667  10.715000  16.650000  21.129167
2020-10-14 10:00:00  13.950833  15.310000  11.944167  14.903333  17.099167
2020-10-14 11:00:00  15.073333  16.980000  10.920000  16.740000  23.815000
2020-10-14 12:00:00  15.882500  17.282500   6.027500  16.840000  30.687500
2020-10-14 13:00:00  14.106667  15.446667   8.476667  15.753333  25.946667

[182174 rows x 15 columns]

In [197]:
finaldadf = pd.DataFrame(columns = dftest.columns)

In [198]:
for i, f in enumerate(adjust_dafilelist):
    df = pd.read_csv(fulldapath(f))
    df['Time Stamp'] = pd.to_datetime(df['Time Stamp'])
    df = dftest = pd.pivot_table(df, index = ['Time Stamp'], columns = ['Name'], values = ['LBMP ($/MWHr)'], aggfunc = [np.mean]).iloc[0:24]
    finaldadf = finaldadf.append(df)
    if i % 100 == 0:
        print(i)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500

In [199]:
finaldadf.shape

(182163, 15)

In [200]:
finaldadf.memory_usage().sum() / (1024**3)

0.021715521812438965

In [201]:
finaldadf

                             mean                                            \
                    LBMP ($/MWHr)
Name                       CAPITL CENTRL DUNWOD GENESE    H Q HUD VL LONGIL
2000-01-01 00:00:00         42.88  39.49  43.70  38.98  39.98  42.92  43.72
2000-01-01 01:00:00         41.55  38.26  42.34  37.77  38.74  41.58  42.35
2000-01-01 02:00:00         40.98  37.74  41.76  37.25  38.20  41.01  40.88
2000-01-01 03:00:00         36.59  33.69  37.28  33.26  34.11  36.62  37.90
2000-01-01 04:00:00         42.88  39.49  43.70  38.98  39.98  42.92  41.00
...                           ...    ...    ...    ...    ...    ...    ...
2020-10-14 19:00:00         25.94  24.12  26.09  24.04  20.31  25.76  35.50
2020-10-14 20:00:00         20.25  18.91  20.38  18.74  15.89  20.12  32.39
2020-10-14 21:00:00         17.37  15.97  17.34  15.71  12.52  17.12  27.00
2020-10-14 22:00:00         15.44  12.70  15.18  12.30  12.10  15.00  23.45
2020-10-14 23:00:00         15.66  10.73  14.59  10.34   9.89  14.43  22.30



Name                MHK VL MILLWD N.Y.C.  NORTH    NPX    O H    PJM   WEST
2000-01-01 00:00:00  41.15  43.08  44.52  40.03  42.04  37.68  38.52  37.49
2000-01-01 01:00:00  39.86  41.74  43.40  38.79  40.73  36.51  37.32  36.32
2000-01-01 02:00:00  39.32  41.17  43.18  38.25  40.17  36.01  36.81  35.82
2000-01-01 03:00:00  35.10  36.75  40.83  34.15  35.86  32.15  32.86  31.98
2000-01-01 04:00:00  41.15  43.08  44.52  40.03  42.04  37.68  38.52  37.49
...                    ...    ...    ...    ...    ...    ...    ...    ...
2020-10-14 19:00:00  23.11  25.97  26.28  12.56  29.25  12.65  23.69  30.93
2020-10-14 20:00:00  18.11  20.31  20.55   9.49  24.27  11.26  18.72  23.23
2020-10-14 21:00:00  14.88  17.28  17.51   4.09  21.44  11.61  16.03  17.85
2020-10-14 22:00:00  13.03  15.14  15.31  11.89  19.22  10.85  13.49  12.43
2020-10-14 23:00:00  10.97  14.57  14.71   9.81  15.15  10.00  12.40  10.25

[182163 rows x 15 columns]

In [203]:
for i in finaldadf.index:
    if i not in finalrtdf.index:
        print(i)

2020-10-14 14:00:00
2020-10-14 15:00:00
2020-10-14 16:00:00
2020-10-14 17:00:00
2020-10-14 18:00:00
2020-10-14 19:00:00
2020-10-14 20:00:00
2020-10-14 21:00:00
2020-10-14 22:00:00
2020-10-14 23:00:00

In [207]:
droplist = []
for i in finalrtdf.index:
    if i not in finaldadf.index:
        print(finalrtdf.loc[i])
        droplist.append(i)

                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2000-04-02 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2001-04-01 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2002-04-07 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2003-04-06 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2004-04-04 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2005-04-03 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2006-04-02 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2007-03-11 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2008-03-09 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2009-03-08 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2010-03-14 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2011-03-13 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2012-03-11 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2013-03-10 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2014-03-09 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2015-03-08 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2016-03-13 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2017-03-12 02:00:00, dtype: float64

                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2018-03-11 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2019-03-10 02:00:00, dtype: float64
                     Name
mean  LBMP ($/MWHr)  CAPITL   NaN
                     CENTRL   NaN
                     DUNWOD   NaN
                     GENESE   NaN
                     H Q      NaN
                     HUD VL   NaN
                     LONGIL   NaN
                     MHK VL   NaN
                     MILLWD   NaN
                     N.Y.C.   NaN
                     NORTH    NaN
                     NPX      NaN
                     O H      NaN
                     PJM      NaN
                     WEST     NaN
Name: 2020-03-08 02:00:00, dtype: float64

In [204]:
finalrtdf.to_csv('Database/finalrtdf.csv')

In [205]:
finaldadf.to_csv('Database/finaldadf.csv')

In [208]:
adjust_finaldadf = finaldadf.iloc[0:-10]
adjust_finalrtdf = finalrtdf.drop(index = droplist)

In [209]:
adjust_finaldadf

                             mean                                            \
                    LBMP ($/MWHr)
Name                       CAPITL CENTRL DUNWOD GENESE    H Q HUD VL LONGIL
2000-01-01 00:00:00         42.88  39.49  43.70  38.98  39.98  42.92  43.72
2000-01-01 01:00:00         41.55  38.26  42.34  37.77  38.74  41.58  42.35
2000-01-01 02:00:00         40.98  37.74  41.76  37.25  38.20  41.01  40.88
2000-01-01 03:00:00         36.59  33.69  37.28  33.26  34.11  36.62  37.90
2000-01-01 04:00:00         42.88  39.49  43.70  38.98  39.98  42.92  41.00
...                           ...    ...    ...    ...    ...    ...    ...
2020-10-14 09:00:00         19.75  18.28  19.63  18.11  14.34  19.38  26.61
2020-10-14 10:00:00         19.52  18.02  19.36  17.88  13.28  19.10  24.17
2020-10-14 11:00:00         18.51  17.09  18.47  16.83  12.70  18.17  24.07
2020-10-14 12:00:00         18.03  16.62  18.03  16.38  12.51  17.75  24.20
2020-10-14 13:00:00         17.69  16.51  17.70  16.38  12.51  17.42  24.56



Name                MHK VL MILLWD N.Y.C.  NORTH    NPX    O H    PJM   WEST
2000-01-01 00:00:00  41.15  43.08  44.52  40.03  42.04  37.68  38.52  37.49
2000-01-01 01:00:00  39.86  41.74  43.40  38.79  40.73  36.51  37.32  36.32
2000-01-01 02:00:00  39.32  41.17  43.18  38.25  40.17  36.01  36.81  35.82
2000-01-01 03:00:00  35.10  36.75  40.83  34.15  35.86  32.15  32.86  31.98
2000-01-01 04:00:00  41.15  43.08  44.52  40.03  42.04  37.68  38.52  37.49
...                    ...    ...    ...    ...    ...    ...    ...    ...
2020-10-14 09:00:00  17.85  19.54  20.67   5.00  22.00  12.06  18.54  24.67
2020-10-14 10:00:00  17.27  19.29  20.04   1.55  21.80  11.92  18.04  22.01
2020-10-14 11:00:00  16.49  18.34  19.43   1.73  20.16  11.90  17.43  22.57
2020-10-14 12:00:00  16.02  17.92  19.40   1.90  19.80  11.81  17.01  21.53
2020-10-14 13:00:00  15.80  17.59  19.17   2.66  20.16  10.50  16.57  20.57

[182153 rows x 15 columns]

In [218]:
adjust_finalrtdf

                             mean                                          \
                    LBMP ($/MWHr)
Name                       CAPITL  CENTRL  DUNWOD  GENESE     H Q  HUD VL
2000-01-01 00:00:00        40.742  36.287  38.731  36.629  37.704  38.318
2000-01-01 01:00:00        32.701  29.068  31.081  29.297  30.211  30.751
2000-01-01 02:00:00        23.450  20.800  22.306  20.917  21.634  22.054
2000-01-01 03:00:00        16.391  14.585  15.651  14.604  15.126  15.480
2000-01-01 04:00:00        14.823  13.243  14.154  13.286  13.729  13.993
...                           ...     ...     ...     ...     ...     ...
2020-10-14 09:00:00        17.566  16.845  17.814  16.848  15.918  17.666
2020-10-14 10:00:00        15.363  14.672  15.709  14.588  13.992  15.558
2020-10-14 11:00:00        17.028  16.357  17.458  16.633  15.438  17.283
2020-10-14 12:00:00        17.320  16.725  17.755  17.065  13.500  17.560
2020-10-14 13:00:00        15.520  15.203  15.880  15.520  14.220  15.720

                                                                             \

Name                 LONGIL  MHK VL  MILLWD  N.Y.C.   NORTH     NPX     O H
2000-01-01 00:00:00  39.443  38.012  38.282  39.086  37.940  38.914  34.448
2000-01-01 01:00:00  31.670  30.494  30.720  31.367  30.389  31.258  27.644
2000-01-01 02:00:00  25.811  21.853  22.044  22.510  21.760  22.444  19.838
2000-01-01 03:00:00  15.931  15.299  15.470  15.795  15.214  15.719  13.921
2000-01-01 04:00:00  14.424  13.862  13.989  14.294  13.808  14.217  12.758
...                     ...     ...     ...     ...     ...     ...     ...
2020-10-14 09:00:00  17.866  16.702  17.762  17.936  15.946  17.417  10.715
2020-10-14 10:00:00  15.921  14.682  15.655  15.807  13.951  15.310  11.944
2020-10-14 11:00:00  18.757  16.218  17.397  17.572  15.073  16.980  10.920
2020-10-14 12:00:00  18.047  16.735  17.680  17.880  15.882  17.282   6.027
2020-10-14 13:00:00  16.103  14.770  15.820  16.013  14.107  15.447   8.477



Name                    PJM    WEST
2000-01-01 00:00:00  34.892  34.166
2000-01-01 01:00:00  28.014  27.404
2000-01-01 02:00:00  20.056  19.661
2000-01-01 03:00:00  14.086  13.792
2000-01-01 04:00:00  12.806  12.654
...                     ...     ...
2020-10-14 09:00:00  16.650  21.129
2020-10-14 10:00:00  14.903  17.099
2020-10-14 11:00:00  16.740  23.815
2020-10-14 12:00:00  16.840  30.687
2020-10-14 13:00:00  15.753  25.947

[182153 rows x 15 columns]

In [222]:
setda = set(adjust_finaldadf.index.tolist())
setrt = set(adjust_finalrtdf.index.tolist())
setda - setrt

set()

In [223]:
setrt - setda

set()

In [221]:
from datetime import timedelta
for i,_ in enumerate(adjust_finalrtdf.index):
    try:
        if adjust_finalrtdf.index[i+1] - adjust_finalrtdf.index[i] != timedelta(hours = 1):
            print(adjust_finalrtdf.index[i+1], adjust_finalrtdf.index[i])
    except:
        break

2000-04-02 03:00:00 2000-04-02 01:00:00
2001-04-01 03:00:00 2001-04-01 01:00:00
2002-04-07 03:00:00 2002-04-07 01:00:00
2003-04-06 03:00:00 2003-04-06 01:00:00
2004-04-04 03:00:00 2004-04-04 01:00:00
2005-04-03 03:00:00 2005-04-03 01:00:00
2006-04-02 03:00:00 2006-04-02 01:00:00
2007-03-11 03:00:00 2007-03-11 01:00:00
2008-03-09 03:00:00 2008-03-09 01:00:00
2009-03-08 03:00:00 2009-03-08 01:00:00
2010-03-14 03:00:00 2010-03-14 01:00:00
2011-03-03 00:00:00 2011-02-28 23:00:00
2011-03-13 03:00:00 2011-03-13 01:00:00
2012-03-11 03:00:00 2012-03-11 01:00:00
2013-03-10 03:00:00 2013-03-10 01:00:00
2014-03-09 03:00:00 2014-03-09 01:00:00
2015-03-08 03:00:00 2015-03-08 01:00:00
2016-03-13 03:00:00 2016-03-13 01:00:00
2017-03-12 03:00:00 2017-03-12 01:00:00
2018-03-11 03:00:00 2018-03-11 01:00:00
2019-03-10 03:00:00 2019-03-10 01:00:00
2020-03-08 03:00:00 2020-03-08 01:00:00

In [224]:
from datetime import timedelta
for i,_ in enumerate(adjust_finaldadf.index):
    try:
        if adjust_finaldadf.index[i+1] - adjust_finaldadf.index[i] != timedelta(hours = 1):
            print(adjust_finaldadf.index[i+1], adjust_finaldadf.index[i])
    except:
        break

2000-04-02 03:00:00 2000-04-02 01:00:00
2001-04-01 03:00:00 2001-04-01 01:00:00
2002-04-07 03:00:00 2002-04-07 01:00:00
2003-04-06 03:00:00 2003-04-06 01:00:00
2004-04-04 03:00:00 2004-04-04 01:00:00
2005-04-03 03:00:00 2005-04-03 01:00:00
2006-04-02 03:00:00 2006-04-02 01:00:00
2007-03-11 03:00:00 2007-03-11 01:00:00
2008-03-09 03:00:00 2008-03-09 01:00:00
2009-03-08 03:00:00 2009-03-08 01:00:00
2010-03-14 03:00:00 2010-03-14 01:00:00
2011-03-03 00:00:00 2011-02-28 23:00:00
2011-03-13 03:00:00 2011-03-13 01:00:00
2012-03-11 03:00:00 2012-03-11 01:00:00
2013-03-10 03:00:00 2013-03-10 01:00:00
2014-03-09 03:00:00 2014-03-09 01:00:00
2015-03-08 03:00:00 2015-03-08 01:00:00
2016-03-13 03:00:00 2016-03-13 01:00:00
2017-03-12 03:00:00 2017-03-12 01:00:00
2018-03-11 03:00:00 2018-03-11 01:00:00
2019-03-10 03:00:00 2019-03-10 01:00:00
2020-03-08 03:00:00 2020-03-08 01:00:00

In [225]:
droplist2 = []
for i,_ in enumerate(adjust_finaldadf.index):
    try:
        if adjust_finaldadf.index[i+1] - adjust_finaldadf.index[i] != timedelta(hours = 1):
            if adjust_finaldadf.index[i].hour == 1:
                print(adjust_finaldadf.index[i+1], adjust_finaldadf.index[i])    
    except:
        break

2000-04-02 03:00:00 2000-04-02 01:00:00
2001-04-01 03:00:00 2001-04-01 01:00:00
2002-04-07 03:00:00 2002-04-07 01:00:00
2003-04-06 03:00:00 2003-04-06 01:00:00
2004-04-04 03:00:00 2004-04-04 01:00:00
2005-04-03 03:00:00 2005-04-03 01:00:00
2006-04-02 03:00:00 2006-04-02 01:00:00
2007-03-11 03:00:00 2007-03-11 01:00:00
2008-03-09 03:00:00 2008-03-09 01:00:00
2009-03-08 03:00:00 2009-03-08 01:00:00
2010-03-14 03:00:00 2010-03-14 01:00:00
2011-03-13 03:00:00 2011-03-13 01:00:00
2012-03-11 03:00:00 2012-03-11 01:00:00
2013-03-10 03:00:00 2013-03-10 01:00:00
2014-03-09 03:00:00 2014-03-09 01:00:00
2015-03-08 03:00:00 2015-03-08 01:00:00
2016-03-13 03:00:00 2016-03-13 01:00:00
2017-03-12 03:00:00 2017-03-12 01:00:00
2018-03-11 03:00:00 2018-03-11 01:00:00
2019-03-10 03:00:00 2019-03-10 01:00:00
2020-03-08 03:00:00 2020-03-08 01:00:00

In [120]:
finalrtdf.shape

(182198, 15)

In [122]:
for i in finalrtdf.index:
    if i not in adjust_finaldadf.index:
        print(i)

In [123]:
for i in adjust_finaldadf.index:
    if i not in finalrtdf.index:
        print(i)

In [126]:
set1 = set(adjust_finaldadf.index.tolist())
set2 = set(finalrtdf.index.tolist())
len(set1)

182174

In [127]:
len(set2)

182174

In [128]:
adjust_finaldadf = adjust_finaldadf.resample('1H').mean()

In [134]:
adjust_finaldadf[ (adjust_finaldadf.index.year == 2011) & (adjust_finaldadf.index.month == 3) & (adjust_finaldadf.index.day == 1)]

                             mean                                         \
                    LBMP ($/MWHr)
Name                       CAPITL CENTRL DUNWOD GENESE H Q HUD VL LONGIL
2011-03-01 00:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 01:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 02:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 03:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 04:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 05:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 06:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 07:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 08:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 09:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 10:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 11:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 12:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 13:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 14:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 15:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 16:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 17:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 18:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 19:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 20:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 21:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 22:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN
2011-03-01 23:00:00           NaN    NaN    NaN    NaN NaN    NaN    NaN



Name                MHK VL MILLWD N.Y.C. NORTH NPX O H PJM WEST
2011-03-01 00:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 01:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 02:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 03:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 04:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 05:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 06:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 07:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 08:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 09:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 10:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 11:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 12:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 13:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 14:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 15:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 16:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 17:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 18:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 19:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 20:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 21:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 22:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN
2011-03-01 23:00:00    NaN    NaN    NaN   NaN NaN NaN NaN  NaN

In [140]:
adjust_finaldadf = adjust_finaldadf.dropna()

In [137]:
finalrtdf = finalrtdf.resample('1H').mean()

In [138]:
finalrtdf

                             mean                                              \
                    LBMP ($/MWHr)
Name                       CAPITL     CENTRL     DUNWOD     GENESE        H Q
2000-01-01 00:00:00     40.742500  36.286875  38.730625  36.628750  37.704375
2000-01-01 01:00:00     32.701429  29.067857  31.080714  29.297143  30.210714
2000-01-01 02:00:00     23.450000  20.800000  22.306429  20.917143  21.633571
2000-01-01 03:00:00     16.390714  14.585000  15.651429  14.604286  15.126429
2000-01-01 04:00:00     14.822500  13.243125  14.153750  13.285625  13.728750
...                           ...        ...        ...        ...        ...
2020-10-14 09:00:00     17.565833  16.845000  17.814167  16.848333  15.918333
2020-10-14 10:00:00     15.362500  14.672500  15.709167  14.587500  13.992500
2020-10-14 11:00:00     17.028333  16.356667  17.458333  16.633333  15.438333
2020-10-14 12:00:00     17.320000  16.725000  17.755000  17.065000  13.500000
2020-10-14 13:00:00     15.520000  15.203333  15.880000  15.520000  14.220000

                                                                            \

Name                    HUD VL     LONGIL     MHK VL     MILLWD     N.Y.C.
2000-01-01 00:00:00  38.318125  39.443125  38.011875  38.281875  39.086250
2000-01-01 01:00:00  30.751429  31.670000  30.494286  30.720000  31.367143
2000-01-01 02:00:00  22.054286  25.811429  21.852857  22.043571  22.510000
2000-01-01 03:00:00  15.480000  15.930714  15.299286  15.470000  15.795000
2000-01-01 04:00:00  13.992500  14.424375  13.861875  13.988750  14.294375
...                        ...        ...        ...        ...        ...
2020-10-14 09:00:00  17.665833  17.865833  16.702500  17.762500  17.935833
2020-10-14 10:00:00  15.558333  15.920833  14.682500  15.655000  15.807500
2020-10-14 11:00:00  17.283333  18.756667  16.218333  17.396667  17.571667
2020-10-14 12:00:00  17.560000  18.047500  16.735000  17.680000  17.880000
2020-10-14 13:00:00  15.720000  16.103333  14.770000  15.820000  16.013333



Name                     NORTH        NPX        O H        PJM       WEST
2000-01-01 00:00:00  37.940000  38.914375  34.448125  34.891875  34.165625
2000-01-01 01:00:00  30.389286  31.257857  27.643571  28.014286  27.404286
2000-01-01 02:00:00  21.760000  22.444286  19.837857  20.056429  19.660714
2000-01-01 03:00:00  15.213571  15.719286  13.920714  14.085714  13.792143
2000-01-01 04:00:00  13.808125  14.217500  12.757500  12.805625  12.654375
...                        ...        ...        ...        ...        ...
2020-10-14 09:00:00  15.945833  17.416667  10.715000  16.650000  21.129167
2020-10-14 10:00:00  13.950833  15.310000  11.944167  14.903333  17.099167
2020-10-14 11:00:00  15.073333  16.980000  10.920000  16.740000  23.815000
2020-10-14 12:00:00  15.882500  17.282500   6.027500  16.840000  30.687500
2020-10-14 13:00:00  14.106667  15.446667   8.476667  15.753333  25.946667

[182222 rows x 15 columns]

In [144]:
finalrtdf = finalrtdf.dropna()

In [142]:
from datetime import timedelta
for i,_ in enumerate(adjust_finaldadf.index):
    try:
        if adjust_finaldadf.index[i+1] - adjust_finaldadf.index[i] != timedelta(hours = 1):
            print(adjust_finaldadf.index[i+1], adjust_finaldadf.index[i])
    except:
        break

2000-04-02 03:00:00 2000-04-02 01:00:00
2001-04-01 03:00:00 2001-04-01 01:00:00
2002-04-07 03:00:00 2002-04-07 01:00:00
2003-04-06 03:00:00 2003-04-06 01:00:00
2004-04-04 03:00:00 2004-04-04 01:00:00
2005-04-03 03:00:00 2005-04-03 01:00:00
2006-04-02 03:00:00 2006-04-02 01:00:00
2007-03-11 03:00:00 2007-03-11 01:00:00
2008-03-09 03:00:00 2008-03-09 01:00:00
2009-03-08 03:00:00 2009-03-08 01:00:00
2010-03-14 03:00:00 2010-03-14 01:00:00
2011-03-03 00:00:00 2011-02-28 23:00:00
2011-03-13 03:00:00 2011-03-13 01:00:00
2012-03-11 03:00:00 2012-03-11 01:00:00
2013-03-10 03:00:00 2013-03-10 01:00:00
2014-03-09 03:00:00 2014-03-09 01:00:00
2015-03-08 03:00:00 2015-03-08 01:00:00
2016-03-13 03:00:00 2016-03-13 01:00:00
2017-03-12 03:00:00 2017-03-12 01:00:00
2018-03-11 03:00:00 2018-03-11 01:00:00
2019-03-10 03:00:00 2019-03-10 01:00:00
2020-03-08 03:00:00 2020-03-08 01:00:00

In [145]:
for i,_ in enumerate(adjust_finalrtdf.index):
    try:
        if finalrtdf.index[i+1] - finalrtdf.index[i] != timedelta(hours = 1):
            print(finalrtdf.index[i+1], finalrtdf.index[i])
    except:
        break

2000-04-02 03:00:00 2000-04-02 01:00:00
2001-04-01 03:00:00 2001-04-01 01:00:00
2002-04-07 03:00:00 2002-04-07 01:00:00
2003-04-06 03:00:00 2003-04-06 01:00:00
2004-04-04 03:00:00 2004-04-04 01:00:00
2005-04-03 03:00:00 2005-04-03 01:00:00
2006-04-02 03:00:00 2006-04-02 01:00:00
2007-03-11 03:00:00 2007-03-11 01:00:00
2008-03-09 03:00:00 2008-03-09 01:00:00
2009-03-08 03:00:00 2009-03-08 01:00:00
2010-03-14 03:00:00 2010-03-14 01:00:00
2011-03-03 00:00:00 2011-02-28 23:00:00
2011-03-13 03:00:00 2011-03-13 01:00:00
2012-03-11 03:00:00 2012-03-11 01:00:00
2013-03-10 03:00:00 2013-03-10 01:00:00
2014-03-09 03:00:00 2014-03-09 01:00:00
2015-03-08 03:00:00 2015-03-08 01:00:00
2016-03-13 03:00:00 2016-03-13 01:00:00
2017-03-12 03:00:00 2017-03-12 01:00:00
2018-03-11 03:00:00 2018-03-11 01:00:00
2019-03-10 03:00:00 2019-03-10 01:00:00
2020-03-08 03:00:00 2020-03-08 01:00:00

In [147]:
finalrtdf.isna().sum()

                     Name
mean  LBMP ($/MWHr)  CAPITL    0
                     CENTRL    0
                     DUNWOD    0
                     GENESE    0
                     H Q       0
                     HUD VL    0
                     LONGIL    0
                     MHK VL    0
                     MILLWD    0
                     N.Y.C.    0
                     NORTH     0
                     NPX       0
                     O H       0
                     PJM       0
                     WEST      0
dtype: int64

In [148]:
adjust_finaldadf.isna().sum()

                     Name
mean  LBMP ($/MWHr)  CAPITL    0
                     CENTRL    0
                     DUNWOD    0
                     GENESE    0
                     H Q       0
                     HUD VL    0
                     LONGIL    0
                     MHK VL    0
                     MILLWD    0
                     N.Y.C.    0
                     NORTH     0
                     NPX       0
                     O H       0
                     PJM       0
                     WEST      0
dtype: int64

In [149]:
finalrtdf

                             mean                                              \
                    LBMP ($/MWHr)
Name                       CAPITL     CENTRL     DUNWOD     GENESE        H Q
2000-01-01 00:00:00     40.742500  36.286875  38.730625  36.628750  37.704375
2000-01-01 01:00:00     32.701429  29.067857  31.080714  29.297143  30.210714
2000-01-01 02:00:00     23.450000  20.800000  22.306429  20.917143  21.633571
2000-01-01 03:00:00     16.390714  14.585000  15.651429  14.604286  15.126429
2000-01-01 04:00:00     14.822500  13.243125  14.153750  13.285625  13.728750
...                           ...        ...        ...        ...        ...
2020-10-14 09:00:00     17.565833  16.845000  17.814167  16.848333  15.918333
2020-10-14 10:00:00     15.362500  14.672500  15.709167  14.587500  13.992500
2020-10-14 11:00:00     17.028333  16.356667  17.458333  16.633333  15.438333
2020-10-14 12:00:00     17.320000  16.725000  17.755000  17.065000  13.500000
2020-10-14 13:00:00     15.520000  15.203333  15.880000  15.520000  14.220000

                                                                            \

Name                    HUD VL     LONGIL     MHK VL     MILLWD     N.Y.C.
2000-01-01 00:00:00  38.318125  39.443125  38.011875  38.281875  39.086250
2000-01-01 01:00:00  30.751429  31.670000  30.494286  30.720000  31.367143
2000-01-01 02:00:00  22.054286  25.811429  21.852857  22.043571  22.510000
2000-01-01 03:00:00  15.480000  15.930714  15.299286  15.470000  15.795000
2000-01-01 04:00:00  13.992500  14.424375  13.861875  13.988750  14.294375
...                        ...        ...        ...        ...        ...
2020-10-14 09:00:00  17.665833  17.865833  16.702500  17.762500  17.935833
2020-10-14 10:00:00  15.558333  15.920833  14.682500  15.655000  15.807500
2020-10-14 11:00:00  17.283333  18.756667  16.218333  17.396667  17.571667
2020-10-14 12:00:00  17.560000  18.047500  16.735000  17.680000  17.880000
2020-10-14 13:00:00  15.720000  16.103333  14.770000  15.820000  16.013333



Name                     NORTH        NPX        O H        PJM       WEST
2000-01-01 00:00:00  37.940000  38.914375  34.448125  34.891875  34.165625
2000-01-01 01:00:00  30.389286  31.257857  27.643571  28.014286  27.404286
2000-01-01 02:00:00  21.760000  22.444286  19.837857  20.056429  19.660714
2000-01-01 03:00:00  15.213571  15.719286  13.920714  14.085714  13.792143
2000-01-01 04:00:00  13.808125  14.217500  12.757500  12.805625  12.654375
...                        ...        ...        ...        ...        ...
2020-10-14 09:00:00  15.945833  17.416667  10.715000  16.650000  21.129167
2020-10-14 10:00:00  13.950833  15.310000  11.944167  14.903333  17.099167
2020-10-14 11:00:00  15.073333  16.980000  10.920000  16.740000  23.815000
2020-10-14 12:00:00  15.882500  17.282500   6.027500  16.840000  30.687500
2020-10-14 13:00:00  14.106667  15.446667   8.476667  15.753333  25.946667

[182153 rows x 15 columns]

In [161]:
for k,n in enumerate(zip(adjust_finaldadf.index, adjust_finalrtdf.index)):
    i,j = n[0],n[1]
    c = (adjust_finaldadf.loc[i] != finalrtdf.loc[j])
    if c.all():
        print(i,j)
        break
    if k % 1000 == 0:
        print(k)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
2020-10-14 00:00:00 2020-10-14 00:00:00

In [ ]:
i